body {
  font-family: $font-main;
  font-style: normal;
  @include font-preset;

  background-color: getColor(background-body);
  color: getColor(text-main);
}

@media screen and (max-width: 767px) {
  .menu-container.is-opened body {
    overflow: hidden;
  }
}
