.page-header {
  border-bottom: 1px solid #ececec;

  &__container {
    @include container(flex, 0, 0);
    align-items: baseline;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

//========NAVIGATION styles start here=============//

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    height: 100%;
  }
}

.navigation {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 48px;
    left: 40px;

    display: block;

    margin-left: 0;
  }

  &__item {
    padding-top: 32px;
    margin-right: 50px;

    @media screen and (max-width: 767px) {
      padding-top: 0;
      margin-right: 0;
      margin-bottom: 32px;
    }
  }

  & :first-child {
    padding-bottom: 0;
  }

  & :last-child {
    margin-right: 0;
  }
}

.navigation__link {
  display: block;
  @include font-preset(
    $font-weight: 500,
    $line-height: 16px,
    $letter-spacing: 0.02em
  );
  color: getColor(headings);

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: lineHeight(40px, 47px);
  }

  &:hover,
  &:focus {
    color: getColor(accent);

    transition: color getTransition(speed) getTransition(speed-func);
  }
}

.navigation__link--current {
  color: getColor(accent);

  &::after {
    display: block;
    margin-top: 28px;
    margin-bottom: -1px;

    content: "";
    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: getColor(accent);

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

// ==============NAVIGATION styles end here====================//

// ==============CONTACTS styles start here====================//
@media screen and (max-width: 767px) {
  .contacts__positioned {
    position: absolute;
    left: 40px;
    bottom: 48px;
  }
}

.contacts {
  display: flex;
  align-items: center;

  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 30px;

    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 64px;
    margin-left: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @include font-preset(
    $font-weight: 500,
    $line-height: 16px,
    $letter-spacing: 0.02em
  );

  color: getColor(text-main);

  .contacts__item:hover &,
  .contacts__item:focus & {
    color: getColor(accent);

    transition: color getTransition(speed) getTransition(speed-func);

    // @media screen and (max-width: 767px) {

    // }
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link[href="tel:+380961111111"] {
    @include font-preset(500, 34px, 40px, 0.02em);
    color: getColor(accent);
  }

  .contacts__link[href="mailto:info@devstudio.com"] {
    @include font-preset(500, 24px, 28px, 0.02em);
    color: getColor(text-main);
  }
}

.contacts__icon {
  fill: getColor(fill-icon);
  margin-right: 10px;

  .contacts__item:hover & {
    fill: getColor(accent);
    transition: color getTransition(speed) getTransition(speed-func);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
// ==============CONTACTS styles end here====================//

//===============mobile menu styles start here==================//
.menu-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;

  z-index: 98;

  transition: opacity getTransition(speed) getTransition(speed-func),
    visibility getTransition(speed) getTransition(speed-func);

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;

    height: 100%;

    visibility: visible;
    opacity: 1;
  }
}

.menu-container.is-opened {
  opacity: 1;
  visibility: visible;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;

  & li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    display: inline-block;
    @include font-preset(500, 18px, 22px, 0.02em);

    color: getColor(accent);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
//==============mobile-menu styles end here===============//
//===============mobile menu button============//
.burger-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  z-index: 99;

  &__icon-cross {
    display: none;
  }

  &.is-opened .burger-btn__icon-menu {
    display: none;
  }
  &.is-opened .burger-btn__icon-cross {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-btn__icon {
  fill: #000000;

  z-index: 99;

  // .burger-btn:hover &,
  // .burger-btn:focus & {
  //   fill: getColor(accent);
  // }

  // @include getTransition(fill 500ms);

  .burger-btn:active & {
    fill: getColor(accent);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
