.advantagies {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @extend %visually-hidden;
  }

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.pluses {
  @include grid(100%, 4);

  @media screen and (max-width: 767px) {
    @include grid(100%, 1);
    margin-top: 0;

    &__item:first-child {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include grid(100%, 2);
    margin-top: 0;
  }
}

.card {
  min-width: 270px;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;

  margin-bottom: 30px;

  border-radius: 4px;

  background-color: getColor(background-alt);

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;

    width: 100%;

    padding-left: 0;
    padding-right: 0;
  }

  &__label {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: lineHeight(14px, 16px);

    text-transform: uppercase;
    color: getColor(headings);
  }

  &__meta {
    @include font-preset;
  }
}
