.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  border-bottom: 1px solid #ececec;
}

.navigation {
  display: none;
}

.contacts {
  display: none;
}

//===============mobile menu button============//
.burger {
  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  &__icon {
    fill: #000000;
  }

  &__icon-cross {
    display: none;
  }

  &.is-opened .burger__icon-menu {
    display: none;
  }
  &.is-opened .burger__icon-cross {
    display: block;
  }
}

.menu__container {
  position: absolute;
  bottom: -100%;

  width: 100%;
  // display: none;

  background-color: coral;
}
