.partners {
  padding: 60px 0;

  &__container {
    padding: 0 15px;
  }

  &__title {
    margin-bottom: 30px;

    @include font-preset(700, 28px, 32px);
    text-align: center;

    color: getColor(headings);
  }
}

.company {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;

  &__element {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    padding-top: 16px;
    padding-bottom: 16px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.company__icon {
  fill: #afb1b8;

  transition: fill getTransition(speed) getTransition(speed-func);

  .company__link:hover &,
  .company__link:focus & {
    fill: getColor(accent);
  }
}
